*{
    border: 1px solid red;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#container{
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap column;
    width: 960px;
    height: 960px;
}

.blank{
    background-color: grey;
    margin: 0;
    padding: 0;
}